/* General Styles */
body {
      font-family: Arial, sans-serif;
/*background: rgb(3,2,0);
background: linear-gradient(27deg, rgba(3,2,0,1) 0%, rgba(193,129,25,1) 60%);       */
    margin: 0;
    padding: 0;
    outline: none;

}
 .pro{
    background: rgb(3,2,0);
    background: linear-gradient(27deg, rgba(3,2,0,1) 0%, rgba(193,129,25,1) 60%);
} 
.pro i{
color: black;
font-size: 20px;
}
.product-detail {
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.product-detail h2 {
    font-size: 2em;

    color:gray;
    margin-bottom: 10px;
    padding-left: 20px;
}

.product-detail img{
    margin: 10px 10px;
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    /* margin-left: 80px; */
}

.product-detail p {
    padding-top: 5px;
    color: #555;
    line-height: 1.6;
    font-size: 16px;
   margin: 4px;
}

.product-detail strong {
    font-weight: bold;
    color: black;
}
.product-detail .proh{
    color:rgb(100, 99, 99);
/* text-align: center; */
font-weight: 300;
}
/* Reviews Section */
.reviews {
    margin-top: 10px;
    width: 400px;
}

.review {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #fafafa;
}

.review p {
    margin: 0;
    color: #444;
}

/* Form Styles */
form {
    margin-top: 20px;
}

.txt{
    width: 400px;
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    font-size: 16px;
    margin-bottom: 10px;
}

textarea.txt:focus {
    border-color: #007bff;
    outline: none;
}

.txtbtn {
    height:35px;
    width: 30%;
    background: #3786da;
    border: none;
    color: #fff; 
    font-size: 18px;
    font-weight:500; 
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 140px;
    border-radius: 6px;
   
}
.txtbtn:hover {
    background-color: #0056b3;
}

.btnff{

    width: 40%;
    background: #3786da;
    border: none;
    color: #fff;
    padding: 3px;
    font-size: 18px;
    font-weight:500; 
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-left: 110px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.btnff:hover {
    background-color: #0056b3;
}
/* Login Prompt */
.finaltxt {
    color: #666262;
    font-size: 15px;
    /* margin-top: 10px; */
    padding-top: 10px;
}
